@charset "utf-8";


#wrap{
    width: 1200px;
    margin: 0 auto; 
    position: relative; /* >sub_bg 포지션땜에 걸어둠 */
}

/* header 영역 */
#header{
    height: 100px;
    /* background-color: gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{


}

.nav{
    align-self: self-end;
}

.main{
    
}

.main > li{
    position: relative;
    display: inline-block;
}

.main > li > a{
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    background-color: brown;
    text-align: center;
    color: white;
}

.main > li:hover > a{
    background-color: rgba(255, 255, 0, 0.3);
    color: #333;
}

.sub{
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    z-index: 6;
    display: none;
}

.sub li{

}

.sub li a{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: chocolate;
    color: white;
}

.sub li a:hover{
    background-color: olive;
}

.sub_bg{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: rgb(0, 0, 0);
    z-index: 5;
    display: none;
}










/* section 영역 */
#section{
    height: 500px;
    /* background-color: beige; */
}

.slide_img{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.left_move{
    width: calc(1200px * 3);
    position: absolute;
    left: 0;
    top: 0;
}

.left_move li{
    float: left;
}

/* section > contents 영역 */
.contents{
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.contents > div{
    height: 200px;
    width: 390px;
    /* background-color: bisque; */
}

.contents h3{
    width: 100px;
    height: 35px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 35px;
    border-radius: 10px 10px 0 0;
    margin-left: 20px;
}

.contents ul, .contents p{
    width: 100%;
    height: 165px;
    border-top: 2px solid red;
}

.notice{}

.notice ul{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.notice ul li{
    display: flex;
    justify-content: space-between;
}

.notice ul li a{
    width: 75%;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.notice ul li span{}


.gallery{}

.gallery ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.F_LOGO
.banner{}
.banner p{
    display: flex;
    justify-content: center;
    align-items: center;
}




/* footer영역 */
#footer{
    height: 100px;
    /* background-color: burlywood; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted gray;
}

.f_logo{}

.copy{
    border-left: 1px dotted gray;
    border-right: 1px dotted gray;
    width: 600px;
    text-align: center;
}

.family{}

.family select{
    height: 30px;
}


.modal{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.pop{
    width: 300px;
    height: 400px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 5px solid olive;
    display: none;
}

.pop h3{
    text-align: center;
    line-height: 2;
    border-bottom: 5px double gray;
}

.pop p{
    padding-top: 20px;
    text-align: center;
    line-height: 1.7;
}

.close{
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 5px 10px;
    cursor: pointer;
}